@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;400&family=Monda:wght@400;700&display=swap');
@import url('http://fonts.cdnfonts.com/css/akrobat');

*{
    margin: 0 auto;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: 'Akrobat', sans-serif;
    overflow-x: hidden;
}

header{
    min-height: 10vh;
    
}

nav{
    background-color: #E1E5EA;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    padding: 3rem;
    width: 100%;
    position: fixed;

}

.logo{
    font-size: 3rem;
    letter-spacing: 0.2rem;
    color: #A66CFF;
}

ul{
    display: flex;
    flex-wrap: wrap;
    
}

ul li{
    list-style: none;
    font-size: 2.5rem;
    padding: 0 9rem;
    letter-spacing: 0.2rem;

}

ul li a{
    text-decoration: none;
    color: #000;
    padding-bottom: 1rem;
}

ul li a:hover{
    border-bottom: 0.3rem solid #A66CFF;
}

.socials a{
    font-size: 2rem;
    padding: 0 2rem;
    color: #A66CFF;
    align-items: center;
}


.home{
    min-height: 70vh;
    background: #E1E5EA;
    padding: 15rem 20rem;
    display: flex;
    
}

.info{
    padding: 3rem;
}

.info h3{
    font-size: 2rem;
    letter-spacing: 0.2rem;
    color: #A66CFF;
    padding-bottom: 3rem;
}

.info h1{
    font-size: 5rem;
    letter-spacing: 0.2rem;
}

.info h1 span{
    color: #A66CFF;
}

.info .info-text{
    font-size: 2rem;
    line-height: 3rem;
    letter-spacing: .1rem;
    padding-top: 2rem;
    padding-bottom: 3.5rem;
}

.info .btn{
    padding: 1rem  2rem;
    background-color: #A66CFF;
    font-size: 2.5rem;
    text-decoration: none;
    color: #fff;
    letter-spacing: .2rem;
    border-radius: 3rem;
}

.picture img{
    width: 50rem;
}


/* ABOUT ME */
.about{
    display: flex;
    padding: 10rem 20rem;
}

.about h2{
    font-size: 4rem;
    letter-spacing: .3rem;
    font-family: 'Akrobat Light';
}

.about-me, .skills{
    width: 50rem;
    padding: 0 5rem;
}

.about-me, .skills p{
    font-size: 2.7rem;
    line-height: 1.5;
    padding-top: 2rem;
}

.skills progress[value]{
    /* -webkit-appearance: none;
    appearance: none;
    -moz-appearance: none;
    border: none;     */
    width: 100%;
    height: 3rem;
    accent-color: #A66CFF;

    /* progress[value]::-webkit-progress-bar {
        background-color: "green";
      } */
    
}
/* 
.skills progress::-webkit-progress-bar{
    color: #A66CFF;
} */

/* PROJECTS */

.project{
    padding: 10rem 0;
    text-align: center;
    /* font-size: 2rem; */
}

.project h2{
    font-size: 4rem;
    letter-spacing: .3rem;
    font-family: 'Akrobat Light';
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(4, 30rem);
    gap: 10rem;
    padding: 10rem 20rem;
    width: 90%;
}

.card{
    font-size: 2.5rem;
    /* box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2); */
    /* width: 30rem; */
}

.card:hover{
    cursor: pointer;
    box-shadow: 0.5rem 0.5rem 2rem rgba(0, 0, 0, 0.2);
}

.card-header img{
    width: 100%;
}

.card-body{
    width: 100%;
    padding: 3rem 0;
}

.card-body h4{
    text-transform: uppercase;
    padding-bottom: 2rem;
}

.contact-me{
    background-color: #F6F6F6;
    padding: 10rem 0;
    text-align: center;
}

.contact-me h2{
    font-size: 4rem;
    letter-spacing: .3rem;
    font-family: 'Akrobat Light';
    padding-bottom: 10rem;
}


/* .contact-box{
    width: 100rem;
} */

.contact-me form{
    font-size: 2.5rem;
}

.contact-me form input{
    margin: 2.5rem 0;
    width: 30rem;
    height: 5rem;
}

.contact-me form textarea{
    margin-top: 2rem;
}

.contact-me form button{
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    color: #fff;
    background-color: #A66CFF;
    border: none;
    border-radius: 5rem;
    margin-top: 5rem;
}

.contact-me form button:hover{
    cursor: pointer;
}

/* footer{
    text-align: center;
    padding: 5rem;
    font-size: 3;
} */
